<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <%= form_for(:session, url: static_pages_login_path) do |f| %>
      
      <%= f.label :username  , class: 'col-md-4 llogin' %>
      
      <%= f.email_field :username , class: 'form-control col-md-8' %>
      <div class='llogin'></div>
      
      <%= f.label :password , class: 'col-md-4 llogin' %>
      <%= f.password_field :password, class: 'form-control col-md-8' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", static_pages_signup_path %></p>
  </div>
</div>