<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <span class="picture">
    <%= f.label :Image %><br>
    <% if f.object.picture? %>
      <%= image_tag f.object.picture.thumb.url %><br><br>
    <% end %>
    <%= f.file_field :picture %><br>
  </span>

  <%= f.submit yield(:button_text), class: "button" %>
  
<% end %>